$btn-background: #f48024;
$btn-background-hover: lighten($btn-background, 10%);

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  background-color: $btn-background;
  color: #FFFBF7;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;

  &:not(.disabled, .active):hover {
    transform: scale(1.1);
    cursor: pointer;
    background: $btn-background-hover;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.5);
  }

  i {
    margin-right: 5px;
  }
}

.board-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: url('../../assets/icons/board.jpg') repeat;
    background-size: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0px;

    .note-actions {
      display: flex;
      justify-content: start;
      align-items: center;
      width: -webkit-fill-available;

      .note-add-button {
        padding: 0 16px;
        border-radius: 15px;
        min-width: 100px;
      }
    }

    .note-board {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 20px;
      min-height: 63vh; // обеспечивает полный экранный вид
      width: 68vw;

      .note-wrapper {
        display: inline-block;
        transition: all 0.2s;
        margin: 20px;
        box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.5);

        &:hover {
          box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.5);
          transform: scale(1.2);

          .note-pin {
            transform: translateY(-40px) scale(1.2);
            cursor: pointer;
            clip-path: inset(0 0 0px 0);
          }

          .note-pin-shadow {
            box-shadow: 0px 0px 10px 13px rgba(34, 60, 80, 0.4);
            background-color: rgba(34, 60, 80, 0.41);
            transform: translateY(-20px) scale(0.8);
            cursor: pointer;
          }

          .note {
            transform: scale(1.2);
          }
        }

        .note-pin {
          position: absolute;
          width: 60px;
          z-index: 10000;
          top: -41px;
          right: 33px;
          transition: all 0.2s;
          clip-path: inset(0 0 7px 0);
        }

        .note-pin-shadow {
          position: absolute;
          top: 6px;
          right: 45px;
          width: 30px;
          height: 10px;
          -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
          border-radius: 50%;
          /* border: 1px solid rgba(34, 60, 80, 0.07); */
          z-index: 1;
          background-color: transparent;
          box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.5);
          background-color: rgba(34, 60, 80, 0.47);
          transition: transform 0.2s;
        }

        .note {
          display: flex;
          padding: 20px;
          width: 120px;
          height: 120px;
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          position: relative;
          transition: transform 0.2s;
          clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);

          .note-status {
            position: absolute;
            z-index: 100000;
            bottom: 30px;
            right: 10px;
            opacity: 0.5;

            i {
              font-size: 60px;
            }
          }

          p {
            font-family: 'Great Vibes', cursive;
            font-weight: 400;
            font-size: large;
            width: 100%;
            line-height: 24px;
            background-image: linear-gradient(to bottom, transparent 23px, #000 24px);
            background-size: 100% 24px;
            background-repeat: repeat-y;
            background-position-y: -1px;
            resize: none;

            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .note::before {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          width: 0px;
          height: 0px;
          border-bottom: 20px solid #eee;
          border-left: 20px solid #272822;
          /*Set to background color, not transparent!*/
          -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
        }

        .note:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
  }
}