<div class="board-container" #container>
    <div class="board-wrapper">
        <ngx-spinner type="ball-scale-multiple" *ngIf="!isLoading"></ngx-spinner>
        
        <div class="note-actions" *ngIf="isLoading">
            <button class="note-button" (click)="openNoticeModal()" *ngIf="canAddNotices">
                <i class="fa-solid fa-plus"></i>
                Add notice
            </button>

            <button class="note-button" (click)=openMembersModal()>
                <i class="fa-solid fa-users"></i>
                Members
                <div class="assess-request-alert" *ngIf="board.AccessRequests?.length !== 0">
                    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
                </div>
            </button>

            <button class="note-button right-button" (click)="openInfoModal()">
                <i class="fa-solid fa-clipboard-list"></i>
                Info
            </button>
        </div>

        <div class="note-board" [@listAnimation]="notesForView.length" *ngIf="isLoading">
            <div class="note-wrapper" *ngFor="let note of notesForView; let i = index"
                [ngStyle]="{'transform': 'rotate(' + note.Rotation + ')' }" (click)="openNoticeModal(note)">
                <img class="note-pin" src="pin.png">

                <div class="note-pin-shadow"></div>

                <div class="note" [ngStyle]="{'background-color': note.BackgroundColor }">
                    <div *ngIf="note.Completed" class="note-status">
                        <i class="fa-regular fa-circle-check fa-2xl" style="color: #28b351;"></i>
                    </div>

                    <p>
                        {{ note.Definition }}
                    </p>
                </div>
            </div>
        </div>

        <app-paginator *ngIf="isLoading" [pageIndex]="pageIndex" [pageSize]="pageSize" [totalPages]="totalPages" [totalCount]="totalCount"
            (pageChanged)="goToPage($event)">
        </app-paginator>
    </div>

    <!-- <div class="chat-button" *ngIf="!isChatOpen" (click)="openChat()">
        <i class="fa-solid fa-comment-dots fa-2xl" style="color: #ffffff;"></i>
    </div> -->

    <app-chat *ngIf="isLoading" [boardId]="boardId" [currentMember]="currentMember"></app-chat>
</div>

<app-footer></app-footer>