<div class="board-container">
    <div class="board-wrapper">
        <div class="note-actions">
            <button class="note-add-button" (click)="openModal()">
                <i class="fa-solid fa-plus"></i>
                Add notice
            </button>
        </div>
        <div class="note-board">
            <div class="note-wrapper" *ngFor="let note of notesForView; let i = index"
                [ngStyle]="{'transform': 'rotate(' + note.Rotation + ')' }" (click)="openModal(note)">
                <img class="note-pin" src="pin.png">

                <div class="note-pin-shadow"></div>
                <div class="note" [ngStyle]="{'background-color': note.BackgroundColor }">
                    <p>
                        {{ note.Definition }}
                    </p>
                </div>
            </div>
        </div>

        <div class="pagination">
            <button class="nav-button prev" [class.disabled]="pageIndex === 1" (click)="previousPage()">
                <i class="fa-solid fa-chevron-left"></i>
                Previous
            </button>

            <ng-container *ngFor="let page of pagesToDisplay">
                <button class="page-button" [class.active]="page === pageIndex" (click)="goToPage(page)"
                    *ngIf="page !== '...'; else dotsTemplate">
                    {{ page }}
                </button>
                <ng-template #dotsTemplate>
                    <span class="dots">...</span>
                </ng-template>
            </ng-container>

            <button class="nav-button next" [class.disabled]="pageIndex === totalPages || totalPages === 0" (click)="nextPage()">
                Next<i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>