<div class="login-container">
  <div class="login-section">
    <header>
      <h2>Login</h2>
    </header>
    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="login-error" *ngIf="showErrors">
        <span class="error-logo"></span>
        <span class="error-description">Incorrect authentication credentials</span>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="username" id="username" placeholder="Enter your name" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Enter your password" />
      </div>
      <button type="submit">Continue</button>
    </form>

    <div class="br">
      <span>OR</span>
    </div>

    <div class="login-externals">
      <button>
        <span class="google-logo"></span>
        <span class="google-description"> Continue with Google</span>
      </button>
      <button>
        <span class="facebook-logo"></span>
        <span class="facebook-description"> Continue with Facebook</span>
      </button>
    </div>
  </div>

  <div class="register-section">
    <nav class="signup-card">
      Don't have an account?&nbsp;
      <a href="/register">Sign up</a>
    </nav>
  </div>
</div>