<div class="modal-container" (click)="onContainerClick($event)">
    <div class="modal">
        <div class="modal-close" (click)="closeModal()">
            <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>

        <form [formGroup]="form">
            <div class="info-wrapper">
                <div class="info-wrapper__main">
                    <div class="sections">
                        <div class="name-section">
                            <input formControlName="name" (input)="updateWidth()" [style.width.px]="inputWidth"
                                [ngClass]="{ 'invalid': formSubmitted && form.controls['name'].errors }" required />
                            <span #textMeasure class="text-measure"></span>

                            <div *ngIf="formSubmitted && form.controls['name'].errors" class="invalid-feedback">
                                <div *ngIf="form.controls['name'].errors?.['required']">Board name is required</div>
                            </div>
                        </div>

                        <div class="description-section">
                            <div class="info-wrapper__description">
                                <div class="info-wrapper__tooltip">
                                    Description
                                </div>
    
                                <textarea formControlName="description"></textarea>
    
                                <div *ngIf="formSubmitted && form.controls['description'].errors" class="invalid-feedback">
                                    <div *ngIf="form.controls['description'].errors?.['required']">Description is required
                                    </div>
                                </div>
                            </div>

                            <div class="info-wrapper__image" [class.dragover]="dragOver" (dragover)="onDragOver($event)"
                            (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                                <div class="info-wrapper__tooltip">
                                    Image
                                </div>
            
                                <div class="info-wrapper__image-preview" *ngIf="previewUrl">
                                    <div class="image-preview__wrapper">
                                        <img [src]="previewUrl" alt="preview" />
                                        <!-- <img src="default-board.png" *ngIf="!board?.Image" alt="preview" /> -->
            
                                        <div class="image-preview__wrapper-delete" (click)="deletePreviewImage()" *ngIf="!disabledActions">
                                            <i class="fa-regular fa-circle-xmark" style="color: #3a7e93;"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-wrapper__image-actions" *ngIf="!disabledActions">
            
                                    <input id="image" type="file" (change)="onFileChange($event)" hidden />
            
                                    <label for="image" class="upload-label">
                                        Select image
                                    </label>
            
                                    <p>or drop images here</p>
            
                                    <p>(.jpg, .jpeg, .png)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-wrapper__tags">
                    <div class="info-wrapper__tooltip">
                        Tags
                    </div>

                    <div class="info-wrapper__tags-actions" *ngIf="!disabledActions">
                        <button autofocus="false" (click)="addTag()">
                            <i class="fa-solid fa-hashtag"></i>
                        </button>

                        <input [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="info-wrapper__tags-list" formArrayName="tags">
                        <div class="tags-list__item" *ngFor="let tag of tags.controls; index as i">
                            <div class="tags-list__item-container">
                                <span>{{ tag.value }}</span>
                            </div>

                            <div class="tags-list__item-delete" (click)="deleteTag(i)" *ngIf="!disabledActions">
                                <i class="fa-regular fa-circle-xmark" style="color: #3a7e93;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-wrapper__visability">
                    <div class="info-wrapper__tooltip">
                        Visability
                    </div>

                    <div class="info-wrapper__visability-checkbox">
                        <input formControlName="public" type="checkbox" id="visability-checkbox" />
                        <label for="visability-checkbox"></label>
                    </div>

                    <div class="info-wrapper__visability-label">
                        <label>Public board</label>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal-actions">
            <div class="modal-actions__left" *ngIf="isOwner">
                <button autofocus="false" *ngIf="!disabledActions" (click)="submitForm()">
                    <i class="fa-solid fa-floppy-disk fa-2xl"></i>
                    <div class="tooltip">Save</div>
                </button>

                <button autofocus="false" *ngIf="disabledActions" (click)="showActions()">
                    <i class="fa-solid fa-pen fa-xl"></i>
                    <div class="tooltip">Edit</div>
                </button>

                <button class="btn-danger" autofocus="false" *ngIf="!newBoard" (click)="openDeleteConfirmation()">
                    <i class="fa-solid fa-trash fa-xl"></i>
                    <div class="tooltip">Delete</div>
                </button>
            </div>

            <div class="modal-actions__right">
                <button autofocus="false" (click)="closeModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>