$btn-background: #f48024;
$btn-background-hover: lighten($btn-background, 10%);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding: 16px 24px;
  background-color: #f8f9f9;
  border-bottom: 1px solid #e3e6e8;
  font-family: Arial, sans-serif;

  .header-primary {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    .nav-links {
      display: flex;
      gap: 15px;
      align-items: center;

      .logo {
        font-size: 24px;
        font-weight: bold;
        color: #f48024;
  
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .header-secondary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    .search-bar {
      flex: 1;
      margin: 0 20px;

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0px -20px;

        &:focus {
          border-color: #0077cc;
          outline: none;
        }
      }
    }

    .header-item{
      margin: 0px 10px;

      .mini-avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1.4rem;
        background-color: $btn-background;
        color: #FFFBF7;
        transition: all 0.2s ease;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

        &:hover{
          transform: scale(1.1);
          cursor: pointer;
          background: $btn-background-hover;
          box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}