$btn-background: #f48024;
$btn-color: #3a7e93;
$btn-background-hover: lighten($btn-background, 10%);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  padding: 16px 24px;
  background-color: #f8f9f9;
  border-bottom: 1px solid #e3e6e8;
  font-family: Arial, sans-serif;

  .header-primary {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    .nav-links {
      display: flex;
      gap: 15px;
      align-items: center;

      .logo {
        font-size: 24px;
        font-weight: bold;
        color: #f48024;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .header-secondary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 20px;

    .header-item {
      position: relative;
      padding: 5px;
      border-radius: 50%;
      // background-color: #f48024;
      display: flex;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

      &:hover {
        transform: scale(1.1);
        box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.3);
      }

      .notification-alert {
        background-color: #464ce9;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: 5px;
        position: absolute;
        top: -9px;
        right: 0;
      }
    }

    button {
      padding: 10px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }

    .mini-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      font-size: 1.4rem;
      background-color: $btn-background;
      color: #FFFBF7;
      transition: all 0.2s ease;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);

      &:hover {
        transform: scale(1.1);
        background: $btn-background-hover;
        box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
}