<header class="header">
  <div class="header-primary">
    <nav class="nav-links">
      <div class="logo">
        <a href="/">ClickingUp</a>
      </div>
      <div>
        <a href="/about">About</a>
      </div>

      <div>
        <a href="/privacy">Privacy</a>
      </div>

      <div *ngIf="isAuthenticated">
        <a href="/boards">My boards</a>
      </div>
    </nav>
  </div>

  <div class="header-secondary">
    <div class="header-item search-bar">
      <!-- <input type="text" placeholder="Search..."> -->
    </div> 

    <div class="header-item" *ngIf="!isAuthenticated">
      <button (click)="signin()">Sign in</button>
    </div>

    <div class="header-item" *ngIf="!isAuthenticated">
      <button (click)="signup()">Sign up</button>
    </div>

    <div class="header-item" *ngIf="isAuthenticated">
       <div *ngIf="username" class="mini-avatar" (click)="openProfile()">
        {{ username[0].toUpperCase()}}
       </div>
    </div>
  </div>
</header>