<header class="header">
  <div class="header-primary">
    <nav class="nav-links">
      <div class="logo">
        <a href="/">ClickingUp</a>
      </div>
      <div>
        <a href="/about">About</a>
      </div>

      <div>
        <a href="/privacy">Privacy</a>
      </div>

      <div *ngIf="isAuthenticated">
        <a href="/boards/public">Boards</a>
      </div>
    </nav>
  </div>

  <div class="header-secondary">
    <button *ngIf="!isAuthenticated" class="signin-btn" (click)="signin()">Sign in</button>

    <button *ngIf="!isAuthenticated" class="signup-btn" (click)="signup()">Sign up</button>

    <div class="header-item" *ngIf="isAuthenticated" (click)="openNotification()">
      <i class="fa-regular fa-bell fa-xl"></i>
      <div class="notification-alert" *ngIf="notifications.length !== 0"></div>
    </div>

    <div *ngIf="username && isAuthenticated" class="mini-avatar" (click)="openProfile()">
      {{ username[0].toUpperCase()}}
    </div>
  </div>
</header>