@import '@ctrl/ngx-emoji-mart/picker';

.chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background-color: #28b351;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.5);
  }

  .chat-button__unread {
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: red;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }
}

.chat-wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 20px;
  height: 85vh;
  margin: 20px 0px 20px 20px;
  background-color: white;
  border-radius: 15px;
  max-width: 330px;
  min-width: 330px;

  .chat-actions {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 6px;

    i {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: -webkit-fill-available;

    .messages-container {
      overflow-y: auto;
      flex-grow: 0;
      padding: 10px;
      margin-top: auto;

      .no-messages-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .show-more {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: #f0f0f0;
        margin: 10px 0px;
        opacity: 0.5;
        border-radius: 15px;
        cursor: pointer;

        span {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          display: contents;

          // &::before {
          //   content: "";
          //   border-bottom: 1px solid #c9cace;
          //   flex: 1 0 auto;
          //   height: .5em;
          //   margin-right: 6px;
          // }

          // &::after {
          //   content: "";
          //   border-bottom: 1px solid #c9cace;
          //   flex: 1 0 auto;
          //   height: .5em;
          //   margin-left: 6px;
          // }
        }
      }

      .messages-list {
        display: contents;
        overflow-y: auto;

        li.messages-list__item:last-child {
          margin-bottom: 0px !important;
        }

        .messages-list__item {
          margin-bottom: 12px;
          display: flex;
          justify-content: flex-start;

          .message-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 80%;

            .edited-message {
              display: flex;
              font-size: 11px;
              opacity: 0.6;
            }

            .main-content {
              display: flex;
              flex-direction: row;
              gap: 5px;
              position: relative;

              .message-content {
                position: relative;
                font-size: 16px;
                background: #f7f8fa;
                padding: 7px 10px;
                border-radius: 10px;

                .message-info {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .author {
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 10px;
                    white-space: nowrap;
                  }


                  .timestamp {
                    font-size: 11px;
                  }
                }

                .content {
                  margin-top: 2px;
                  line-height: 1.4;
                  color: #333;
                  word-wrap: break-word;
                  word-break: auto-phrase;

                  img {
                    max-width: 270px;
                    max-height: 270px;
                    object-fit: contain;
                  }

                  .post-image {
                    width: 100%;
                    border-radius: 2px;
                  }
                }
              }

              .message-deleted {
                background: #f7f8fa;
                padding: 7px 10px;
                border-radius: 10px;
                margin-right: 9px;
                font-size: 14px;
                font-weight: 500;
                opacity: 0.6;
              }
            }
          }

          &.ismine {
            justify-content: end;

            .message-wrapper {
              .edited-message {
                margin-left: auto;
                margin-right: 10px;
              }

              .main-content {
                .message-content {
                  background: #8abde6 !important;
                  color: white !important;

                  .content {
                    color: white !important;
                  }

                  .message-info {
                    flex-direction: row-reverse;

                    .author {
                      display: none;
                    }
                  }
                }

                .message-deleted {
                  background: #8abde6 !important;
                }

                .message-content-actions {
                  color: #aaa;
                  visibility: hidden;

                  i {
                    cursor: pointer;
                  }
                }

                .message-content-actions__menu {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  position: absolute;
                  background-color: #f5f5f5;
                  padding: 10px;
                  top: 5px;
                  right: 14px;
                  border-radius: 10px;
                  z-index: 100000;

                  span {
                    padding: 5px;
                    border-radius: 5px;
                    white-space: nowrap;

                    &:hover {
                      cursor: pointer;
                      background-color: darken(#f5f5f5, 10%);
                    }
                  }
                }
              }

              &:hover {
                .main-content {
                  .message-content-actions {
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
      }
    }

    .message-input-container {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 5px;
      margin: 0px 5px 5px;
      border-radius: 15px;

      .edit-message {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;

        i {
          cursor: pointer;
          ;
        }
      }

      .message-input-wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        background: #f5f5f5;
        border-radius: 10px;
        padding: 5px;
        align-items: end;

        .message-emoji {
          display: flex;
          align-items: center;
          padding: 10px;
          margin-bottom: 5px;

          i {
            color: #aaa;
            cursor: pointer;

            &:hover {
              color: #555;
            }
          }
        }

        .message-input {
          width: 100%;
          min-height: 35px;
          // max-height: 30px;
          border: none;
          background: inherit;
          outline: 0;
          padding: 10px 20px;
          resize: none;
          // font-size: 15px;
          // line-height: 15px;
          box-sizing: border-box;
        }

        .message-input-actions {
          display: flex;
          align-items: center;
          padding: 0 10px;
          margin-bottom: 5px;

          svg {
            color: #aaa;
            cursor: pointer;

            &:hover {
              color: #555;
            }
          }
        }
      }
    }

    .message-emoji-container {
      justify-content: center;
      display: flex;
      min-height: 330px;
      // background: #f5f5f5;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    }
  }
}