<div class="modal-container" (click)="onContainerClick($event)">
    <div class="modal">
        <div class="modal-close" (click)="closeModal()">
            <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>

        <div class="access-requests-container">
            <div class="members-header">
                Access requests
            </div>

            <div class="access-requests-list" *ngIf="accessRequests.length !== 0">
                <div class="access-requests-list__item" *ngFor="let request of accessRequests">
                    <div class="access-requests-list__item-description">
                        <span>{{request.AccountName}}</span>
                        <span>({{request.AccountEmail}})</span>
                    </div>

                    <div class="access-requests-list__item-actions">
                        <button class="button-accept" (click)="resolveRequest(request, true)">
                            <i class="fa-solid fa-check"></i>
                        </button>

                        <button class="button-reject" (click)="resolveRequest(request, false)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="access-requests-empty" *ngIf="accessRequests.length === 0">
                <span>No access requests</span>
            </div>
        </div>
    </div>
</div>