$modal-background: white;
$btn-color: #3a7e93;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .modal {
        background-color: $modal-background;
        border-radius: 10px;
        width: 350px;
        height: 400px;
        padding: 45px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        position: relative;

        .modal-close {
            position: absolute;
            top: 15px;
            right: 15px;
            transition: all 0.2s ease;
            cursor: pointer;
            color: $btn-color;

            &:hover {
                transform: scale(1.2);
            }
        }

        .access-requests-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: -webkit-fill-available;

            .members-header {
                font-family: "Great Vibes", cursive;
                font-weight: 400;
                font-size: xx-large;
                display: flex;
                justify-content: center;
            }

            .access-requests-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: -webkit-fill-available;
                overflow-y: auto;

                .access-requests-list__item {
                    display: flex;
                    flex-direction: row;
                    background-color: #f0f0f0;
                    padding: 10px;
                    border-radius: 10px;
                    justify-content: space-between;
                    align-items: center;
                    overflow-x: hidden;

                    .access-requests-list__item-description {
                        display: flex;
                        flex-direction: column;
                        max-width: 60%;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                            white-space: nowrap;
                        }
                    }

                    .access-requests-list__item-actions {
                        margin-left: auto;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        gap: 10px;

                        button {
                            background-color: transparent;
                            border: 2px solid $btn-color;
                            color: $btn-color;
                            padding: 5px;
                            border-radius: 13px;
                            font-family: 'Helvetica', sans-serif;
                            font-size: 14px;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            min-width: 35px;
                            position: relative;

                            &.button-accept {
                                color: #a6d96a;
                                border: 2px solid #a6d96a;
                            }

                            &.button-reject {
                                color: red;
                                border: 2px solid red;
                            }

                            &:hover {
                                box-shadow: 0 0 10px rgba(58, 126, 147, 0.7);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .access-requests-empty {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                font-family: 'Helvetica', sans-serif;
                font-size: 16px;
            }
        }
    }
}