<div class="modal-container" (click)="onContainerClick($event)">
  <div class="modal" [@modalContentAnimation] (click)="$event.stopPropagation()"
    [ngStyle]="{'background-color': backgroundColor.value }">

    <div class="modal-close" (click)="closeModal()">
      <i class="fa-solid fa-xmark fa-2xl"></i>
    </div>

    <div class="note-status" *ngIf="note !== undefined && disabledActions">
      <i *ngIf="note.Completed" class="fa-regular fa-circle-check fa-2xl" style="color: #28b351;"></i>
    </div>

    <div *ngIf="note !== undefined" class="notice-info">
      <div class="notice-info__author">
        <label>Author: {{ author?.Username }}</label>
      </div>
      <div class="notice-info__time">
        <label>Created: {{note!.CreatedAt | date: "MMM dd, yyyy 'at' HH:mm" }}</label>
      </div>

    </div>
    <form class="notice-form" [formGroup]="form">
      <textarea class="notice-form__textarea" formControlName="definition"></textarea>

      <div class="notice-options" *ngIf="!disabledActions">
        <div class="notice-options__block">
          <div class="dropdown">
            <div class="dropdown-select" (click)="toggleDropdownColors($event)">
              <span class="color-circle" [ngStyle]="{'background-color': backgroundColor.value }"></span>
              <span>{{ backgroundColor.name }}</span>
              <input [(ngModel)]="backgroundColor.value" formControlName="backgroundColor" hidden />
              <i *ngIf="!isOpenColors" class="fas fa-chevron-down"></i>
              <i *ngIf="isOpenColors" class="fas fa-chevron-up"></i>
            </div>
            <div class="dropdown-menu" *ngIf="isOpenColors">
              <div class="dropdown-item" *ngFor="let color of colors" (click)="selectColor(color)">
                <div class="dropdown-item__wrapper">
                  <span class="color-circle" [style.background]="color.value"></span>
                  <span>{{ color.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="modal-actions">
      <div class="modal-actions__left" *ngIf="havePermission('manage_notice')">
        <button autofocus="false" *ngIf="!disabledActions " (click)="submitForm()">
          <i class="fa-solid fa-floppy-disk fa-2xl"></i>
          <div class="tooltip">Save</div>
        </button>
        <button autofocus="false" *ngIf="disabledActions && !note?.Completed" (click)="showActions()">
          <i class="fa-solid fa-pen fa-xl"></i>
          <div class="tooltip">Edit</div>
        </button>

        <button *ngIf="note && !note?.Completed" (click)="updateStatus(true)" autofocus="false">
          <i class="fa-regular fa-circle-check fa-2xl" style="color: #28b351;"></i>
          <div class="tooltip">Complete</div>
        </button>

        <button *ngIf="note && note?.Completed" (click)="updateStatus(false)" autofocus="false">
          <i class="fa-solid fa-ban fa-flip-both fa-2xl" style="color: #ff0000;"></i>
          <div class="tooltip">Dismiss</div>
        </button>

        <button *ngIf="note && !note?.Completed" (click)="delete()">
          <i class="fa-solid fa-trash fa-xl"></i>
          <div class="tooltip">Delete</div>
        </button>
      </div>

      <div class="modal-actions__right">
        <button autofocus="false" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>