<div class="modal-container" (click)="onContainerClick($event)">
    <div class="modal">
        <div class="modal-close" (click)="closeModal()">
            <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>

        <div class="modal-warning">
            <h2>You are not a member of this board</h2>

        </div>

        <div class="modal-description" *ngIf="!success">
            <div class="modal-description__main" *ngIf="!errorMessage">
                <span>To start using the board, request access</span>

                <div class="modal-description__main-actions" *ngIf="!errorMessage">
                    <button (click)="requestAccess()">
                        Request access
                    </button>
                </div>
            </div>

            <div class="modal-description__error" *ngIf="errorMessage">
                <span>{{errorMessage}}</span>
            </div>
        </div>

        <div class="modal-success" *ngIf="success">
            <span>{{successMessage}}</span>
        </div>
    </div>
</div>