$modal-background: white;
$btn-color: #3a7e93;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .modal {
        background-color: $modal-background;
        border-radius: 10px;
        width: 250px;
        // height: 400px;
        padding: 45px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        position: relative;

        .modal-close {
            position: absolute;
            top: 15px;
            right: 15px;
            transition: all 0.2s ease;
            cursor: pointer;
            color: $btn-color;

            &:hover {
                transform: scale(1.2);
            }
        }

        .permission-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 15px;
            height: -webkit-fill-available;

            .member-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: #f0f0f0;
                padding: 10px;

                .member-info__avatar {
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-color: white;
                    }
                }
            }

            .permissions-list {
                display: flex;
                flex-direction: column;
                height: -webkit-fill-available;
                background-color: #f0f0f0;
                padding: 10px;
                border-radius: 10px;
                gap: 10px;

                .permissions-list__item {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    position: relative;

                    .permissions-list__item-checkbox {
                        display: flex;

                        input[type=checkbox] {
                            height: 0;
                            width: 0;
                            visibility: hidden;
                        }

                        label {
                            --size: 40px;

                            cursor: pointer;
                            width: var(--size);
                            height: calc(var(--size) / 2);
                            background: grey;
                            display: block;
                            border-radius: 100px;
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 6%;
                                left: 2.5%;
                                width: calc(50% - 5%);
                                height: calc(100% - 11%);
                                background: #fff;
                                border-radius: 90px;
                                transition: 0.1s ease;
                            }
                        }

                        input:checked+label {
                            background: #3a7e93;
                            ;
                        }

                        input:checked+label:after {
                            left: calc(100% - 2.5%);
                            transform: translateX(-100%);
                        }

                        label:active:after {
                            width: 55%;
                        }
                    }
                }
            }

            .permission-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: auto;

                button {
                    background-color: transparent;
                    border: 2px solid $btn-color;
                    color: $btn-color;
                    padding: 10px 20px;
                    border-radius: 15px;
                    font-family: 'Helvetica', sans-serif;
                    font-size: 14px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    min-width: 80px;

                    .tooltip {
                        position: absolute;
                        bottom: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $btn-color;
                        color: white;
                        padding: 8px 12px;
                        border-radius: 5px;
                        white-space: nowrap;
                        font-size: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        pointer-events: none;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-width: 8px;
                            border-style: solid;
                            border-color: transparent transparent $btn-color transparent;
                        }
                    }
                }

                button:hover {
                    box-shadow: 0 0 10px rgba(58, 126, 147, 0.7);
                    transform: scale(1.2);

                    .tooltip {
                        opacity: 1;
                    }
                }

                .danger-btn {
                    color: red;
                    border: 2px solid red;
                }
            }
        }
    }
}