<div class="members-list__member" [ngStyle]="{'background-color': backgroundColor }">
    <div class="members-list__member-avatar">
        <img src="avatar.png">
    </div>

    <div class="members-list__member-info">
        <div class="member-info__nickname">
            <span>{{member.Nickname}}</span>
            <div class="owner-section" *ngIf="member.IsOwner">
                <i class="fa-solid fa-crown fa-lg"></i>
                <div class="tooltip">Owner</div>
            </div>

        </div>

        <div class="member-info__permissions">
            <div class="member-info__permissions-item" *ngFor="let permission of member.Permissions;">
                <span>{{permission.BoardPermissionName}}</span>
                <div class="tooltip">{{permission.BoardPermissionName}}</div>
            </div>
        </div>
    </div>

    <div class="members-list__member-actions" *ngIf="member.AccountId !== userId">
        <i class="fa-solid fa-ellipsis-vertical fa-xl" (click)="openSettings(member.Id + '-settings')"></i>
    </div>

    <div class="members-list__member-settings" id="{{member.Id}}-settings">
        <div class="permissions-list">
            <div class="permission-item" *ngFor="let permission of permissions;">
                <input type="checkbox" [checked]="isPermissionsCheck(permission.Id)" />
                <label>{{permission.Name}}</label>
            </div>
        </div>
    </div>
</div>