<div class="auth-container">
    <div *ngIf="!success" class="auth-section">
        <header>
            <span class="back-arrow" (click)="onBack()"><i class="fa-solid fa-arrow-left"></i> Back</span>
            <h2>Forgot Password</h2>
        </header>

        <p class="auth-title">Enter the email address associated with your account and
            we'll send a link to reset your
            password.</p>

        <form class="auth-form" (ngSubmit)="onSubmit()" [formGroup]="fpForm">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="email"
                    [ngClass]="{ 'invalid': formSubmitted && fpForm.controls['email'].errors }" required />
                <label class="input-label">Email address*</label>
                <div *ngIf="formSubmitted && fpForm.controls['email'].errors" class="invalid-feedback">
                    <div *ngIf="fpForm.controls['email'].errors?.['required']">Email is required</div>
                    <div *ngIf="fpForm.controls['email'].errors?.['email']">Email must be a valid email address
                    </div>
                </div>
            </div>

            <button *ngIf="!isLoading" type="submit">Continue</button>
            <button class="loading-button" *ngIf="isLoading" disabled>
                <i class="fa-solid fa-spinner"></i>
                Loading
            </button>
        </form>

        <button *ngIf="success">Open Gmail</button>

        <span *ngIf="success">
            Don't received the email?&nbsp;
            <span *ngIf="!isRunning || secondsLeft === 0" class="link-span" role="link"
                (click)="onSubmit()">Resend</span>
            <span *ngIf="isRunning && secondsLeft > 0" role="link">{{secondsLeft}}s</span>
        </span>
    </div>

    <div *ngIf="success" class="auth-section">
        <header>
            <i class="fa-solid fa-envelope fa-2xl" style="color: #f48024;"></i>
            <h2>Check your email</h2>
        </header>

        <p *ngIf="formSubmitted" class="auth-title">We sent a password reset link to your email. Please check
            your inbox.</p>

        <button>Open Gmail</button>

        <span class="resent-block">
            Don't received the email?&nbsp;
            <span *ngIf="!isRunning || secondsLeft === 0" class="link-span" role="link"
                (click)="onSubmit()">Resend</span>
            <span *ngIf="isRunning && secondsLeft > 0" role="link">{{secondsLeft}}s</span>
        </span>
    </div>
</div>