@model LoginViewModel;

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-3">
        <section>
            <h2 class="text-center mb-3">Please, Log In</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form asp-controller="Authentication" asp-action="Login" id="account" method="post">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" value="User" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" value="User1user/" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="row mb-3">
                    <div class="col d-grid">
                        <button id="login-submit" type="submit" value="login" name="button" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col d-grid">
                        <button id="login-cancel" type="submit" value="cancel" name="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>

                <div>
                    <p>
                        <a asp-controller="Authentication" asp-action="Register"
                           asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Register</a>
                    </p>
                </div>

                <div>
                    <p>
                        @foreach (var provider in Model.ExternalProviders)
                        {
                            <a asp-action="ExternalLogin" asp-route-provider="@provider.Name" asp-route-returnUrl="@Model.ReturnUrl">Login with @provider.DisplayName</a>
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>