version: '3.9'

services:
  authenticationdb:
    image: postgres

  tasksboarddb:
    image: postgres

  chatdb:
    image: postgres

  notificationdb:
    image: postgres

  emailservicedb:
    image: postgres

  pgadmin:
    image: dpage/pgadmin4

  rabbitmq:
    image: rabbitmq:4-management

  opensearch-node1:
    image: opensearchproject/opensearch:latest

  opensearch-node2:
    image: opensearchproject/opensearch:latest

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest

  prometheus:
    image: prom/prometheus

  grafana:
    image: grafana/grafana

  jaeger:
    image: jaegertracing/all-in-one:latest

  redis:
    image: redis:latest

  authentication.api:
    image: ${DOCKER_REGISTRY-}authenticationapi
    build:
      context: .
      dockerfile: Services/Authentication/Authentication.API/Dockerfile

  tasksboard.api:
    image: ${DOCKER_REGISTRY-}tasksboardapi
    build:
      context: .
      dockerfile: Services/TasksBoard/TasksBoard.API/Dockerfile

  chat.api:
    image: ${DOCKER_REGISTRY-}chatapi
    build:
      context: .
      dockerfile: Services/Chat/Chat.API/Dockerfile

  notification.api:
    image: ${DOCKER_REGISTRY-}notificationapi
    build:
      context: .
      dockerfile: Services/Notification/Notification.API/Dockerfile  
      
  notification.consumer:
    image: ${DOCKER_REGISTRY-}notificationconsumer
    build:
      context: .
      dockerfile: Services/Notification/Notification.Consumer/Dockerfile

  ocelotapigateway:
    image: ${DOCKER_REGISTRY-}ocelotapigateway
    build:
      context: .
      dockerfile: ApiGateways/OcelotApiGateway/Dockerfile

  emailservice.api:
    image: ${DOCKER_REGISTRY-}emailserviceapi
    build:
      context: .
      dockerfile: Services/Email/EmailService.Api/Dockerfile

volumes:
  postgres_authentication:
  postgres_tasksboard:
  postgres_chat:
  postgres_notification:
  postgres_email:
  pgadmin:
  opensearch-data1:
  opensearch-data2:
  prometheus:
  grafana:
