<div class="auth-container">
    <div *ngIf="!success" class="auth-section">
        <header>
            <span class="back-arrow" (click)="onBack()"><i class="fa-solid fa-arrow-left"></i> Back</span>
            <h2>Create a New Password</h2>
        </header>

        <p class="auth-title">Enter your new password below to complete the reset proccess. Ensure it's strong and
            secure.</p>

        <form class="auth-form" (ngSubmit)="onSubmit()" [formGroup]="rpForm">
            <div class="form-group">
                <input formControlName="password" type="password"
                    [ngClass]="{ 'invalid': formSubmitted && rpForm.controls['password'].errors }" required />
                <label class="input-label">New Password*</label>
                <div *ngIf="formSubmitted && rpForm.controls['password'].errors" class="invalid-feedback">
                    <div *ngIf="rpForm.controls['password'].errors?.['required']">Password is required</div>
                    <div *ngIf="rpForm.controls['password'].errors?.['minlength']">Password is must be at least 8
                        characters long</div>
                </div>
            </div>

            <div class="form-group">
                <input formControlName="confirmPassword" type="password"
                    [ngClass]="{ 'invalid': formSubmitted && rpForm.controls['confirmPassword'].errors }" required />
                <label class="input-label">Confirm new Password*</label>
                <div *ngIf="formSubmitted && rpForm.controls['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="rpForm.controls['confirmPassword'].errors?.['required']">Password is required</div>
                    <div *ngIf="rpForm.controls['confirmPassword'].errors?.['minlength']">Password is must be at least 8
                        characters long</div>
                    <div *ngIf="rpForm.controls['confirmPassword'].errors?.['passwordsMismatch ']">The passwords don't match</div>
                </div>
            </div>

            <button *ngIf="!isLoading" type="submit">Submit</button>
            <button class="loading-button" *ngIf="isLoading" disabled>
                <i class="fa-solid fa-spinner"></i>
                Loading
            </button>
        </form>
    </div>

    <div *ngIf="success" class="auth-section">
        <header>
            <i class="fa-solid fa-circle-check fa-2xl" style="color: #3fb393;"></i>
            <h2>Your password has been successfully reset!</h2>
        </header>

        <p class="auth-title">You can now sign in with your new password. If you encounter any issues, please contact
            support.</p>

        <button (click)="onBack()">Back to sign in</button>
    </div>
</div>