<div class="modal-container" (click)="onContainerClick($event)">
    <div class="modal">
        <div class="modal-close" (click)="closeModal()">
            <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>

        <div class="modal-wrapper">
            <div class="modal-wrapper__members">
                <div class="header">
                    Members
                </div>

                <div class="members-list">
                    <div class="members-list__member" *ngFor="let member of membersForView;">
                        <div class="members-list__member-avatar">
                            <img [src]="getBoardMemberAvatar(member.accountId) | async"
                                (click)="openMemberProfile(member.accountId)">
                        </div>

                        <div class="members-list__member-info">
                            <div class="member-info__nickname">
                                <span (click)="openMemberProfile(member.accountId)">{{member.nickname}}</span>
                                <div class="owner-section" *ngIf="member.isOwner">
                                    <i class="fa-solid fa-crown fa-lg"></i>
                                    <div class="tooltip">Owner</div>
                                </div>

                            </div>

                            <div class="member-info__permissions">
                                <div class="member-info__permissions-item"
                                    *ngFor="let permission of member.permissions;">
                                    <span>{{permission.boardPermissionName}}</span>
                                    <div class="tooltip">{{permission.boardPermissionDescription}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="members-list__member-actions"
                            *ngIf="member.accountId !== userId && canManageMember">
                            <i class="fa-solid fa-ellipsis-vertical fa-xl" (click)="openMemberPermission(member)"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-wrapper__requests" *ngIf="accessRequests.length > 0">
                <div class="header">
                    Access requests
                </div>

                <div class="request-list">
                    <div class="request-list__request" *ngFor="let request of accessRequests">
                        <div class="reqest-list__request-avatar">
                            <img [src]="getBoardMemberAvatar(request.accountId) | async"
                                (click)="openMemberProfile(request.accountId)">
                        </div>

                        <div class="requests-list__request-description">
                            <span class="account-name"
                                (click)="openMemberProfile(request.accountId)">{{request.accountName}}</span>
                            <span>({{request.accountEmail}})</span>
                        </div>

                        <div class="requests-list__request-actions">
                            <button class="button-accept" (click)="resolveAccessRequest(request, true)">
                                <i class="fa-solid fa-check"></i>
                            </button>

                            <button class="button-reject" (click)="resolveAccessRequest(request, false)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-wrapper__requests" *ngIf="inviteRequests.length > 0">
                <div class="header">
                    Invite requests
                </div>

                <div class="request-list">
                    <div class="request-list__request" *ngFor="let request of inviteRequests">
                        <div class="reqest-list__request-avatar">
                            <img [src]="getBoardMemberAvatar(request.toAccountId) | async"
                                (click)="openMemberProfile(request.toAccountId)">
                        </div>

                        <div class="requests-list__request-description">
                            <span class="account-name"
                                (click)="openMemberProfile(request.toAccountId)">{{request.toAccountName}}</span>
                            <span>({{request.toAccountEmail}})</span>
                        </div>

                        <div class="requests-list__request-actions">
                            <button class="button-reject" (click)="cancelInviteRequest(request)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <div class="modal-actions__left">
                <button autofocus="false" *ngIf="canManageMember" (click)="openInvite()">
                    <i class="fa-solid fa-user-plus fa-xl"></i>
                    <div class="tooltip">Invite member</div>
                </button>
            </div>
            <div class="modal-actions__right">
                <button autofocus="false" (click)="closeModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>