$modal-background: white;
$btn-color: #3a7e93;

img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .modal {
        background-color: $modal-background;
        border-radius: 10px;
        width: 500px;
        // height: 530px;
        height: -webkit-fill-available;
        margin: 10px;
        padding: 45px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        position: relative;

        .modal-close {
            position: absolute;
            top: 15px;
            right: 15px;
            transition: all 0.2s ease;
            cursor: pointer;
            color: $btn-color;

            &:hover {
                transform: scale(1.2);
            }
        }

        .modal-wrapper {
            overflow-y: auto;

            .header {
                font-family: "Great Vibes", cursive;
                font-weight: 400;
                font-size: xx-large;
                display: flex;
                justify-content: center;
            }

            .members-list {
                display: flex;
                height: 100%;
                flex-direction: column;
                gap: 10px;
                overflow: hidden;

                .members-list__member {
                    display: flex;
                    flex-direction: row;
                    background-color: #f0f0f0;
                    border-radius: 15px;
                    padding: 10px;
                    gap: 10px;
                    align-items: center;
                    cursor: default;

                    .tooltip {
                        // display: none;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        z-index: 10000000;
                        transform: translateX(-50%);
                        background-color: $btn-color;
                        color: white;
                        padding: 8px 12px;
                        border-radius: 5px;
                        white-space: nowrap;
                        font-size: 14px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        pointer-events: none;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-width: 8px;
                            border-style: solid;
                            border-color: transparent transparent $btn-color transparent;
                        }
                    }

                    .members-list__member-info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;

                        .member-info__nickname {
                            display: flex;
                            gap: 10px;
                            align-items: baseline;

                            span{
                                width: fit-content;
                                cursor: pointer;
                            }

                            .owner-section {
                                position: relative;
                                transition: all 0.3s ease;

                                &:hover {
                                    .tooltip {
                                        z-index: 1000000;
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .member-info__permissions {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 5px;

                            .member-info__permissions-item {
                                position: relative;
                                color: #3a7e93;
                                padding: 3px 10px;
                                border-radius: 20px;
                                border: 1px solid #3a7e93;

                                &:hover {
                                    .tooltip {
                                        z-index: 1000000;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .members-list__member-actions {
                        margin-bottom: auto;

                        i:hover {
                            cursor: pointer;
                            transform: scale(1.3);
                        }
                    }
                }
            }

            .request-list {
                display: flex;
                // height: 100%;
                flex-direction: column;
                gap: 10px;
                overflow: hidden;

                .request-list__request {
                    display: flex;
                    flex-direction: row;
                    background-color: #f0f0f0;
                    border-radius: 15px;
                    padding: 10px;
                    gap: 10px;
                    align-items: center;
                    cursor: default;

                    .requests-list__request-description {
                        display: flex;
                        flex-direction: column;
                        width: -webkit-fill-available;
                        gap: 5px;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                            white-space: nowrap;

                            &.account-name {
                                width: fit-content;
                                cursor: pointer;
                            }
                        }
                    }

                    .requests-list__request-actions {
                        margin-left: auto;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        gap: 10px;

                        button {
                            background-color: transparent;
                            border: 2px solid $btn-color;
                            color: $btn-color;
                            padding: 5px;
                            border-radius: 10px;
                            font-family: 'Helvetica', sans-serif;
                            font-size: 14px;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            min-width: 35px;
                            position: relative;

                            &.button-accept {
                                color: #a6d96a;
                                border: 2px solid #a6d96a;
                            }

                            &.button-reject {
                                color: red;
                                border: 2px solid red;
                            }

                            &:hover {
                                box-shadow: 0 0 10px rgba(58, 126, 147, 0.7);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        .modal-actions {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: auto;

            button {
                background-color: transparent;
                border: 2px solid $btn-color;
                color: $btn-color;
                padding: 10px 20px;
                border-radius: 15px;
                font-family: 'Helvetica', sans-serif;
                font-size: 14px;
                transition: all 0.3s ease;
                cursor: pointer;
                min-width: 80px;
                position: relative;

                .tooltip {
                    position: absolute;
                    bottom: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $btn-color;
                    color: white;
                    padding: 8px 12px;
                    border-radius: 5px;
                    white-space: nowrap;
                    font-size: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    pointer-events: none;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        border-width: 8px;
                        border-style: solid;
                        border-color: transparent transparent $btn-color transparent;
                    }
                }

                .access-request-alert {
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    background-color: white;
                    color: red;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        margin: 0;
                    }
                }
            }

            button.button-with-alert {
                &::before {
                    content: "";
                    position: absolute;
                    border: 2px solid #3a7e93;
                    top: -2px;
                    right: 0px;
                    width: 14px;
                    height: 15px;
                    background-color: #fff;
                    border-top: none;
                    border-right: none;
                    border-bottom-left-radius: 15px;
                }
            }

            button:hover {
                box-shadow: 0 0 10px rgba(58, 126, 147, 0.7);
                transform: scale(1.2);

                .tooltip {
                    opacity: 1;
                }
            }

            .modal-actions__left {
                display: flex;
                gap: 10px;
            }

            .modal-actions__right {
                display: flex;
                margin-left: auto;
            }
        }
    }
}